mat-grid-tile {
  display: flex;
}

.row {
  display: flex;
  margin-bottom: 30px;
}

.column {
  width: 300px;
}

input {
  padding: .5rem;
}

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.actions{
  width: 120px;
  align-content: center;
}

.mat-button {
  width: 40px;
}

